body {
  margin: 0;
  background-color: #eeee;
  height: auto;
  overflow-x: hidden;
}

link {
  text-decoration: none;
  color: none;
}

a {
  text-decoration: none;
  color: white;
}
input{
  outline: none
}

button{
  cursor: pointer;
}

.success-message,
.error-message {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  z-index: 9999;
}

.success-message {
  background-color: #4caf50;
  /* Green */
}

.error-message {
  background-color: #f44336;
  /* Red */
}



/*-------------------home page controls------------- */
.home-body {
  width: 100vw;
}

.control {
  float: left;
  width: 50vw;
}



.control-select {
  width: 20vw;
}

.start-button {
  font-family: "Nunito", sans-serif;
  font-size: 22px;
  padding: 0.25rem;
  border-radius: 0.5rem;
}

.home-btn {
  width: 150px;
  font-weight: 100;
  position: relative;
  cursor: pointer;
  background-color: rgb(62, 47, 47);
  color: rgb(5, 5, 5);
  margin-top: 1rem;
  font-family: "Nunito", sans-serif;
  font-size: 22px;
  padding: 0.25rem;
  border-radius: 0.5rem;
}


.home-btn:hover {
  background-color: rgb(35, 21, 21);
  transition: background 500ms ease;
}

/*-----------------------home page end controls---------------- */
a:hover {
  text-decoration: none;
  color: rgb(246, 166, 17) !important;
  transition: color 500ms ease;
}

.upload-body {
  background: linear-gradient(to bottom, rgb(74, 52, 52), rgb(3, 2, 2));
  height: 90vh;
  width: 100vw;
  min-height: 700px;
}

.hide {
  display: none;
}

/*------------------------------About page------------------------- */

.About_body {
  background: linear-gradient(to bottom, rgb(74, 52, 52), rgb(3, 2, 2));
  height: 100vh;
  position: relative;
  min-height: 650px;
}

.text-block {
  position: absolute;
  bottom: 70px;
  right: 25px;
  /* Adjusted */
  background-color: rgb(47, 35, 35);
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  top: 90px;
  font-size: 1.3vw;
  width: calc(100% - 600px);
  /* Adjusted */
}

.about-text {
  margin-left: 100px;
  /* Adjust according to your image width */
  text-align: right;
  /* Align text to the right */
}

.about-image-container {
  position: absolute;
  top: 150px;
  /* Adjusted */
  left: 40px;
  /* Adjusted */

}

.about-image {
  max-width: 400px;
  /* Adjusted */
  height: auto;
}

/*------------------------------About page------------------------- */


.valid {
  color: rgb(75, 61, 61);
  margin-left: 0.25rem;
}

.invalid {
  color: red;
  margin-left: 0.25rem;
}

ul {
  list-style-type: none;
}

#header h2 {
  border-left: dotted 1px #fff;
  border-right: dotted 1px #fff;
  display: inline-block;
  padding-left: 1rem;
  padding-right: 1rem;
}




/*-----------------NAVBAR START --------------------- */
/* display flex is what formats the */

.exclusive-text {
  display: flex;
  align-items: center;
}

.exclusive-text:hover {
  color: rgb(243, 159, 4) !important;
  cursor: pointer;
}

/* */
.cart-counter {
  position: "absolute";
  z-index: 2;
  top: 0;
  right: 3;
}

.signIn-text {
  width: 3vw;
  font-weight: 600;
  font-size: 4vw;
  font-family: 'roboto,arial,verdana,sans-serif';
}

.Order-text {
  display: flex;
  align-items: center;
}

/* This controls the cart css*/
.cart span:nth-child(1) {
  position: relative;
  top: -1.5vh;
  left: -3vw;
  font-size: 1.7vw;
}

.cart span:nth-child(1):hover {
  cursor: pointer;
  color: rgb(246, 166, 17) !important;
  transition: color 500ms ease;
}

.menu span:nth-child(1) {
  font-size: 7vw;
  color: white;
}

.menu span:nth-child(1):hover {
  cursor: pointer;
  color: rgb(246, 166, 17) !important;
  transition: color 500ms ease;
}

.offscreen {
  position: absolute;
  left: 1000px;
}

.call-text:hover {
  cursor: pointer;
  color: rgb(246, 166, 17) !important;
  transition: color 500ms ease;
}

.exclusive-text:hover {
  color: rgb(246, 166, 17) !important;
  transition: color 500ms ease;
}

.signIn-text:hover {
  cursor: pointer;
  color: rgb(246, 166, 17) !important;
  transition: color 500ms ease;
}

.Order-text:hover {
  cursor: pointer;
  color: rgb(246, 166, 17) !important;
  transition: color 500ms ease;
}

/*-----------------NAVBAR END --------------------- */


.caption {
  padding: 0.8rem;
  text-align: center;
}

footer {
  text-align: center;
  padding: 2rem 1rem;
  margin: auto;
  color: #d70b0b;

}

footer h3 {
  font-size: 3rem;
  margin-bottom: 0;
}

h1 {
  font-weight: 400;
  font-size: 2.5rem;
  text-transform: uppercase;
  margin: 0;
}

h2 {
  font-weight: 400;
  font-size: 1.2rem;
  text-transform: capitalize;
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

main {
  max-width: 900px;
  margin: auto;
  box-shadow: 30px 0px 40px rgb(75, 61, 61) -30px 0px 40px rgb(75, 61, 61);
}

/*------------------------Search Area START------------------------- */
.view-text {
  position: relative;
  left: 70vw;
  top: -8vh;
}

.view-selector {
  width: 40vw;
  left: 60vw;
  top: -7.0vh;
}

.sort-text {
  position: relative;
  right: 70vw;
  top: -0.7vh;
}

.shop-btn {
  position: relative;
  top: -8vh;
}

/* search button*/
.search-btn {
  position: relative;
  width: 40px;
  height: 32.0px;
  top: 13.5px;
  left: -3.4vw;
  font-size: 1.2rem;
  background-color: #cf7d03;
  border-radius: #cf7d03;
  color: white;
  cursor: pointer;
  border-style: hidden;
}

.search-btn i {
  display: flex;
  justify-content: center;
}

/* search button*/
.search-btn:hover {
  color: rgb(123, 17, 123);
  background-color: #9a5c00;
  transition: background 500ms ease;
  transition: color 500ms ease;

}

.sort-selector {
  width: 50vw;
}

.search-bar {
  position: relative;
  left: 3vw;
  top: 10.5px;
  width: 88.5vw;
  max-width: 800px;
  height: 31px;
  border-radius: 10%;
}

.search-body {
  margin-top: 0vh;
  background-color: rgb(75, 1, 75);
  height: 13vh;
  width: 100vw;
}

.shop-btn-cate {
  position: relative;
  left: 24vw;
  top: 2vh;
  height: 3.6vh;
  min-height: 24.5px;
  color: rgb(89, 1, 89);
  font-weight: 1000;
  width: 55vw;
  max-width: 270px;
  font-size: 3.5vw;
}

.shop-btn-sport {
  position: relative;
  top: -1.6vh;
  left: 0vw;
  height: 3.6vh;
  min-height: 24.5px;
  color: rgb(89, 1, 89);
  font-weight: 1000;
  width: 50vw;
  max-width: 200px;
  min-width: 100px;
  float: right;
  font-size: 4vw;
}


/*------------------------Search Area End------------------------- */
#landing {
  background-color: white;
}

#landing-text h2 {
  color: #888;
}

#landing-image {
  background: url("https://images.unsplash.com/photo-1519575706483-221027bfbb31?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2071&q=80");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 50vh;
  flex: 0 1 60vw;
  margin: 0;
}


.btn {
  padding: 0.5rem 2rem;
  border: 1px #ccc solid;
  display: inline-block;
  margin: 2rem 0 0;
  border-radius: 50px;
  text-decoration: none;
  color: #333;
  transition: background 500ms ease;
}

.btn:hover {
  background-color: #f4f4f4;
}

.cart {
  width: 10px;
  height: 10px;
}

.text-links {
  margin-left: 0.7rem;
  margin-right: 0.5rem;
}

.rights {
  text-align: center;
}

/*-------------------------------Start of footer css controls-------------------------------------  */
.footer-body {
  bottom: 0;
  background-color: #888;
  color: rgb(255, 255, 255);
  height: 10vh;
}

.footer-body a {
  color: rgb(255, 255, 255);
}

.footer-body a:hover {
  cursor: pointer;
  color: rgb(246, 166, 17) !important;
  transition: color 500ms ease;
}

.signUp-text {
  background-color: rgb(103, 100, 100);
  color: white;
  text-align: center;
  font-size: 1.1rem;
  padding-top: 1vh;
  padding-bottom: 1vh;

}

.signUp-text:hover {
  cursor: pointer;
  color: rgb(246, 166, 17) !important;
  transition: color 500ms ease;
}

.back-top {
  background-color: rgb(103, 100, 100);
  color: white;
  text-align: center;
  font-size: 1.1rem;
  padding-top: 1vh;
  padding-bottom: 1vh;
  width: 100vw;
}

.back-top:hover {
  cursor: pointer;
  color: rgb(246, 166, 17) !important;
  transition: color 500ms ease;
}



.contactUs {
  background-color: rgb(103, 100, 100);
  color: yellow;
  text-align: center;
  font-size: 1.1rem;
  padding-top: 1vh;
  padding-bottom: 1vh;
}

.contactUs u:hover {
  cursor: pointer;
  color: rgb(246, 166, 17) !important;
  transition: color 500ms ease;
}

/*-----------------------SIGN IN START ----------------------*/

.start-body {
  justify-content: center;
  min-height: 100vh;
  position: relative;
  background-color: rgb(160, 155, 136);
  overflow: hidden;
  overflow-x: hidden;

}

.signin-title {
  color: white;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 45pt;
  letter-spacing: 5px;
}

.aamu-logo-left {
  position: absolute;
  left: 0.1cm;
  width: 180px;
  height: 120px;
  margin-top: 2px;
}

.aamu-logo {
  position: absolute;
  right: 0.1cm;
  width: 180px;
  height: 120px;
  margin-top: 2px;
}

.start-form {
  position: relative;
}

.forgot-password {
  position: absolute;
  bottom: 67px;
  text-align: right;
  right: 0;
  color: rgb(234, 224, 224);
  text-decoration: underline;
  font-size: 0.9rem !important;
}

.start-text {
  text-align: center;
  font-size: 0.9rem;
  margin-bottom: 15px;
  margin-left: -35px;
}

.start-create {
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  padding: 0.25rem;
  background-color: #432727 !important;
}

.start-section {
  position: relative;
  font-family: 'Nunito', sans-serif;
  font-size: 2rem;
  color: #fff;
  width: 94vw;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.4);
}


.start-form {
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 1;
  padding-bottom: 1rem;
}

.start-label {
  width: 100%;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #eeee;
}


.input-username,
.input-password {
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  padding: 0.25rem;
  background-color: #b7b0b0ee;
  align-self: flex-end;
}

.start-button {
  background-color: black;
  width: 100%;
  height: 50px;
  font-size: 25pt;
  color: #a14545;
  border: none;
  letter-spacing: 5px;
  padding: 0.5rem;
  cursor: pointer;
  border-color: #170909;

}

.start-button:hover {
  background-color: #a14545;
  border-color: #a14545;
  transition: background 500ms ease;
}




.errmsg {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

/*-----------------------------------------SIGN IN END -----------------------------------------*/

/*---------------------------------------Orders START------------------------------------------ */
.order-nav {
  position: relative;
  left: 1000vw;
  height: 6vh;
}

.status-area {
  display: grid;
  position: relative;
}

.status-area h1 {
  background-color: rgb(103, 1, 103);
  color: #cd8f32;
  margin-bottom: 10px;
  ;
}

.order-status-h2 {
  color: #cd8f32;
  margin-bottom: 10px;
  ;
}


.status-area input {
  height: 2.5vh;
  width: 95%;
  margin-bottom: 10px;
  ;
}

.order-status-body {
  height: 50vh;
}

.order-status-body button {
  top: -10px;


}

.order-history-area {
  padding-bottom: 20vh;
}

.order-history-area button {
  left: 0%;
}

.forgot-password {
  font-size: 0.9rem;
  width: 100vw;
}


.start-button {
  width: 125px !important;
  font-weight: 100;
  font-size: 1.2rem;
  font-family: 'roboto,arial,verdana,sans-serif';
  clear: both;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  padding-right: 4vw;
  left: 30%;
  position: relative;
  background-color: #000000;
  color: #a14545;
}

.start-button:hover {
  background-color: #2d2020;
  color: rgb(255, 255, 255);
  transition: color 500ms ease;
}

.order-history-area {
  padding-top: 3vh;
  padding-left: 2.6vh;
  text-align: center;
  align-items: center;
  position: relative;
  width: 90.0vw;
  border-left: 1px solid rgb(3, 3, 3);
  height: 26.4vh;
  display: grid;
  font-size: 1.5rem;
}

.order-history-area label {
  display: flex;
  height: 5vh;
  align-items: flex-end;
}

.order-history-area label a {
  font-size: 1vw;
}

.order-history-body text {
  padding-top: 0vh;
  display: grid;
  width: 100vw;
  text-align: center;
  position: relative;
  font-size: 2rem;
}

.order-history-area input {
  height: 35px;
  width: 100%;
}


/*---------------------------------------Orders END------------------------------------------ */
/*---------------------------------------CONTACT US START -----------------------------------------*/
.help-body-text {
  width: 80vw;
  white-space: nowrap;
  font-size: 1.5rem;
}

.help-body {
  background-color: rgb(187, 154, 187);
  width: 100vw;
  height: 575px;
  text-align: center;
  white-space: nowrap;
}

.help-body h2 {
  background-color: #000000;
  height: 45px;
  color: white;
  font-weight: 800;
  ;
}

.help-body select {
  height: 30px;
  width: 80vw;
}

.order-history-area label {
  font-size: 1.4rem;
}

.order-history-area input {
  width: 80vw;
}

.help-body textarea {
  height: 150px;
  margin-top: 0px;
  margin-bottom: 10px;
  width: 80vw;
}

.submit-btn {
  height: 30px;
  font-weight: 600;
  font-size: 1.1rem;
  background-color: #cf7d03;
  border-color: #cf7d03;
  color: rgb(255, 255, 255);
  width: 80vw;
}

.submit-btn:hover {
  background-color: #a96602;
  border-color: #a66402;
  transition: background 500ms ease;
}

.get-in-body {
  text-align: center;
  white-space: nowrap;
  background-color: rgb(187, 154, 187);
  width: 100vw;
  font-size: 1.4rem;
  ;

}

.get-in-body h2 {
  background-color: rgb(95, 95, 95);
  color: whitesmoke;
  font-size: 1.4rem;
}

.contact-area {
  display: grid;
}

/*---------------------------------------CONTACT US END -----------------------------------------*/

.image {
  width: 700px;
  height: 100px
}

/* Screen sizes 500px and up*/
@media (min-width: 600px) {
  .search {
    top: 2.5vh;
  }

  /*-----------------Admin START --------------------- */
  .upload-form {
    margin-top: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 30vw;
    background-color: #524242;
    height: 320px;
    padding: 100px;
    border-radius: 30px;
  }

  .upload-form div input:focus-visible {
    border-color: #f00000;

  }

  /*----new added ------- */
  .admin-container {
    background: linear-gradient(to bottom, rgb(74, 52, 52), rgb(3, 2, 2));
    /* Vertical gradient */
    width: 100vw;
    height: 110vh;
    min-height: 550px;
    display: flex;
    justify-content: center;
  }

  .admin-text {
    height: 100px;
    display: flex;
    align-items: center;
    font-size: 35pt;
    font-family: 'Mplus 1p', Arial, Helvetica, sans-serif;
    letter-spacing: 15px;
    color: rgba(245, 245, 245, 0.784);
  }

  .admin-body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  .admin-upload-body {
    width: 80%;
    height: 80%;
    max-width: 800px;
    background-color: rgb(75, 61, 61);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .divider {
    margin: 25px;
    border: 1.69px #FFBBBB solid;
    width: 90%;
  }

  .admin-upload-text {
    color: white;
    width: 100%;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25pt;
    letter-spacing: 5px;
  }

  .upload-items {
    width: 90%;
    margin: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 17pt;
  }

  .item-label {
    width: 50%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #240e0eee;
    color: #eeee;
  }

  .item-input {
    width: 50%;
    height: 28px;
    background-color: #240e0eee;
    border: none;
  }

  .admin-button {
    background-color: rgb(101, 91, 91);
    color: white;
    font-size: 20pt;
    letter-spacing: 2px;
  }

  .admin-button:hover {
    background-color: rgb(66, 65, 65);
    color: white;
    transition: background 500ms ease;
  }

  .btn-container {
    display: flex;
    justify-content: center;
    background-color: none;
  }
  /*-----------------Admin END --------------------- */

  /*-----------------NAVBAR START --------------------- */
  .navbar {
    display: flex;
    justify-content: space-evenly;
    background: rgb(96, 37, 37);
    height: 45px;
    font-size: 1.3rem;
    font-family: 'Mplus 1p', sans-serif;
    font-weight: 100;
  }

  .nav-items {
    display: flex;
    align-items: center;
  }
  .navbar a {
    text-decoration: none;
    padding: 0 10px;
    border-right: 1px solid white;
    color: white;
  }

  .navbar a:last-child {
    border-right: none;
    /* Remove the border from the last link */
  }

  .cart-counter {
    position: absolute;
    z-index: 2;
    top: 2px;
    right: 3px;
    background: #000000;
    color: red;
    border-radius: 40%;
    width: 25px;
  }

  .exclusive-text {
    display: flex;
    align-items: center;
  }

  .exclusive-text:hover {
    color: rgb(21, 9, 10) !important;
    transition: color 500ms ease;
  }

  .signIn-text {
    width: 15vw;
    font-weight: 100;
    font-size: 1.2rem;
    font-family: 'roboto,arial,verdana,sans-serif';
    clear: both;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    padding-right: 4vw;

  }

  .signIn-text:hover {
    cursor: pointer;
    color: rgb(21, 9, 10) !important;
    transition: color 500ms ease;
  }


  .Order-text {
    display: flex;
    align-items: center;
  }

  .Order-text:hover {
    cursor: pointer;
    color: rgb(246, 166, 17) !important;
    transition: color 500ms ease;
  }



  .payment-text {
    display: flex;
    align-items: center;
  }

  .payment-text:hover {
    cursor: pointer;
    color: rgb(246, 166, 17) !important;
    transition: color 500ms ease;
  }


  .call-text {
    display: flex;
    align-items: center;
  }

  .call-text:hover {
    cursor: pointer;
    color: rgb(246, 166, 17) !important;
    transition: color 500ms ease;
  }



  .payment-text:hover {
    cursor: pointer;
    color: rgb(246, 166, 17) !important;
    transition: color 500ms ease;
  }


  .item-text {
    padding-right: 4vw;
  }

  .item-text:hover {
    cursor: pointer;
    color: rgb(246, 166, 17) !important;
    transition: color 500ms ease;
  }

  /* This controls the cart css*/
  .cart span:nth-child(1) {
    font-size: .3rem;
    position: absolute;
    color: white;
  }

  .menu span:nth-child(1) {
    position: absolute;
    color: white;
  }

  .view-btn {
    background-color: #cf7d03;
    color: white;
    font-size: 1.1rem;
  }

  .view-btn:hover {
    background-color: #b56e03;
    cursor: pointer;
    transition: background 500ms ease;
  }

  /*-----------------NAVBAR END --------------------- */


  /*-----------------------SIGN IN START (REGISTER) ----------------------*/

  .start-body {
    justify-content: center;
    min-height: 100vh;
    width: 100vw;

    position: relative;
    background: linear-gradient(to bottom, rgb(74, 52, 52), rgb(3, 2, 2));
    overflow: hidden;
    overflow-x: hidden;
  }

  .start-container {
    background: linear-gradient(to bottom, rgb(74, 52, 52), rgb(3, 2, 2));
    width: 100vw;
    height: auto;
    min-height: 550px;
    display: flex;
    justify-content: center;
    top: 10px;
  }

  .start-section {
    width: 100%;
    height: 100%;
    max-width: 600px;
    background: linear-gradient(to bottom, rgb(87, 65, 65), rgb(15, 14, 14));
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }

  .start-form {
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
    padding-bottom: 1rem;
  }

  .start-label,
  .start-button {
    margin-top: 1rem;
  }

  .input-username,
  .input-password,
  .start-button {
    font-family: 'Nunito', sans-serif;
    background-color: #b7b0b0ee;
    font-size: 22px;
    padding: 0.25rem;
  }

  .admin-button {
    background-color: rgb(101, 91, 91);
    color: rgb(255, 255, 255);
    font-size: 1.25rem;
    width: 200px !important;
    height: 40px;
    border-radius: 50px;
  }

  .admin-button:hover {
    background-color: rgb(75, 54, 54);
    transition: background 500ms ease;
    cursor: pointer;

  }

  .start-button {
    padding: 0.5rem;
    cursor: pointer;
    background-color: #010101;
    color: #ff0303;
  }

  .start-button:hover {
    background-color: #332222;
    transition: background 500ms ease;
  }

  .start-text {
    color: rgb(255, 255, 255);
    height: 10px;
  }

  .start-create {
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    padding: 0.25rem;
    cursor: pointer;
    background-color: #432727 !important;

  }

  .start-create:hover {
    transition: background 500ms ease;
  }


  /*-----------------------SIGN IN END ----------------------*/


  /*----------------------------Register start-------------------------*/
  .register-container {
    background: linear-gradient(to bottom, rgb(74, 52, 52), rgb(3, 2, 2));
    /* Vertical gradient */
    width: 100vw;
    height: 150vh;
    min-width: 900px;
    display: flex;
    flex-direction: column;
    /* Arrange items vertically */
    align-items: center;
    /* Center items horizontally */
  }

  .register-title {
    height: 100px;
    font-size: 37pt;
    font-family: 'Mplus 1p', Arial, Helvetica, sans-serif;
    letter-spacing: 25px;
    color: rgba(245, 245, 245, 0.784);
    display: flex;
    align-items: center;
  }

  .register-body {
    background: linear-gradient(to bottom, #926a6a, rgb(59, 54, 54));
    width: 80%;
    height: 75%;
    min-height: 800px;
    max-width: 1100px;
    max-height: 800px;
    min-width: inherit;
    background-color: rgb(75, 61, 61);
    border-radius: 10px;
    display: flex;
  }

  .register-left-container {
    background-color: #3e1414;
    width: 50%;
    height: 80%;
    margin: 50px;
    border-radius: 25px 25px;
    min-height: 500px;
  }


  .register-text {
    color: rgb(253, 253, 253);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    font-size: 20pt;
    letter-spacing: 6px;
  }


  .image-container {
    width: 100%;
  }

  .register-image {
    height: inherit;
    /*inherits from the image-container */
    width: inherit;
  }

  .register-button {
    width: 120px;
    height: 50px;
    font-size: 20pt;
  }

  .create-account-text {
    margin-top: 20px;
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    letter-spacing: 10px;
    font-weight: 900;
    font-size: 25pt;
  }

  .register-form {
    width: 100%;
  }

  .account-image {
    width: 35px;
    height: 35px;
  }

  .account-item {
    display: flex;
    height: inherit;
    margin-bottom: 10px;
  }

  .account-input {
    width: 65%;
    background: #4c3939;
    height: inherit;
    border: 0;
    font-size: 22pt;
    text-align: start;
    border-radius: 0px 5px 5px 0px;
  }

  .image-holder {
    width: 30%;
    height: 50px;
    background: #4c3939;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px 0px 0px 5px;
  }

  .register-button-dark {
    width: 96%;
    height: 50px;
    font-size: 20pt;
    color: #ce1d1d;
    background: black;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .register-button-dark:hover{
    transition: background 500ms ease, color 500ms;
    color: #951313;
    background: rgb(78, 70, 70);
  }
  .account-input {
    width: 65%;
    background: #4c3939;
    height: inherit;
    border: 0;
    font-size: 22pt;
    text-align: start;
    border-radius: 0px 5px 5px 0px;
  }

  .start-line {
    width: 125px !important;
    font-weight: 100;
    font-size: 30px;
    left: 39%;
    position: relative;
    color: #a14545;
  }

  /*----------------------------register end--------------------------------*/


  /*---------------------------------------Orders START------------------------------------------ */
  .order-sidebar-body {
    width: 50vw;
    float: left;
  }

  .order-nav {
    position: relative;
    height: 80vh;
    text-align: center;
    margin-left: 0vw !important;
    padding: 0 !important;
    min-width: 200px;
    float: left;
    z-index: 1;
    left: 0vw;
  }

  .order-sidebar {
    position: relative;
    background-color: rgb(56, 0, 56);
    max-width: 20vw !important;
    min-width: 200px;
    height: 121.6vh;
    border-right: 1px solid #ccc;
    margin: 0 !important;
    padding: 0 !important;

  }

  .your-order {
    color: rgb(228, 150, 5);
    display: grid;
    height: auto;
    padding-bottom: 40px;
    cursor: pointer;
  }

  .your-order a:hover {
    text-decoration: underline;
  }

  .top-header {
    font-size: 1.2rem;
    padding-bottom: 15px;
    height: 10px;
    white-space: nowrap;
  }

  .order-status-body {
    text-align: center;
    align-items: center;
    position: relative;
    width: 45vw;

    height: 40.4vh;
    white-space: nowrap;
    top: -80vh;
    float: right;
  }

  .status-area h1 {
    background-color: rgb(235, 235, 235);
    color: #000000;
    margin-bottom: 10px;
    ;
  }

  .status-area {
    position: relative;
    text-align: center;
    display: grid;
    width: 65%;
    left: 8vw;
    margin: 0 !important;
    padding: 0 !important;
    float: right;
    top: 0px;
  }

  .status-area input {
    position: relative;
    height: 35px;
    width: 100%;

  }

  .order-status-h2 {
    font-size: 10pt;
  }

  .status-area h1 {
    padding-top: 20px;
  }

  .order-status-body label {
    padding-top: 20px;
    font-size: 1.5rem;
  }

  .order-history-body {
    float: right;

  }

  .order-history-area {
    padding-top: 3vh;
    padding-left: 2.6vh;
    text-align: center;
    align-items: center;
    position: relative;
    width: 28.0vw;
    border-left: 1px solid rgb(3, 3, 3);
    height: 26.4vh;
    display: grid;
    font-size: 1.5rem;
  }

  .order-history-area label {
    display: flex;
    height: 5vh;
    align-items: flex-end;
  }


  .order-history-area label a {
    font-size: 1.2vw !important;
  }

  .order-history-body text {
    padding-top: 2vh;
    display: grid;
    width: 28.0vw;
    text-align: center;
    position: relative;
    font-size: 2rem;
  }

  .order-history-area input {
    height: 35px;
    width: 100%;
  }

  /*---------------------------------------Orders END------------------------------------------ */

  /*---------------------------------------CONTACT US START -----------------------------------------*/
  .help-body-text {
    padding-top: 20px;
    width: 100vw;
    white-space: nowrap;
  }

  .help-body {
    background-color: rgb(187, 154, 187);
    width: 60vw;
    height: 550px;
    text-align: center;
    white-space: nowrap;
    max-width: 920px;
  }

  .help-body h2 {
    background-color: #000000;
    height: 45px;
    color: white;
    font-weight: 800;
    ;
  }


  .order-history-area label {
    font-size: 1.4rem;
  }

  .order-history-area input {
    width: 25vw;
  }

  .help-body select {
    height: 30px;
    width: 25vw;
  }

  .help-body textarea {
    height: 150px;
    margin-top: 0px;
    margin-bottom: 10px;
    width: 25vw;
  }

  .submit-btn {
    height: 30px;
    font-weight: 600;
    font-size: 1.1rem;
    background-color: #cf7d03;
    border-color: #cf7d03;
    color: rgb(255, 255, 255);
    width: 25vw;
  }

  .submit-btn:hover {
    background-color: #a96602;
    border-color: #a66402;
    transition: background 500ms ease;
  }

  .get-in-body {
    float: right;
    margin-top: 70px;
    text-align: center;
    white-space: nowrap;
    background-color: rgb(187, 154, 187);
    width: 25vw;
    font-size: 1.4rem;
    ;

  }

  .get-in-body h2 {
    background-color: rgb(95, 95, 95);
    color: whitesmoke;
    font-size: 1.4rem;
  }

  .contact-area {
    display: grid;

  }

  /*---------------------------------------CONTACT US END -----------------------------------------*/
  .offscreen {
    position: relative;
    left: 0px;
  }

  .onscreen {
    position: relative;
    left: 100vw;
  }

}

/*---------------------HOME CONTAINER START-----------------------*/
.home-container {
  background: linear-gradient(to bottom, rgb(74, 52, 52), rgb(3, 2, 2));
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.home-form {
  float: right;
  margin-top: 100px;
  text-align: center;
  font-size: 17pt;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 35%;
  background-color: rgb(42, 18, 18);
  height: 370px;
  padding: 90px;
  border-radius: 70px;
  margin-right: 50px;
  max-width: 400px;
}

.home-form input {
  height: 2vh;
  width: 20vw;
}

.home-form div input {
  float: right;
  width: 18vw;
  border-radius: 0;
  border-style: hidden;
  font-size: 12pt;
}

.map {
  height: 100vh;
  width: 50%;
  background-color: #5c5c5c;
  text-align: center;
  min-width: 250px;
}



/*----------------------HOME CONTAINER ENDS -----------------------*/